/* geral */

:root {
    --gray-pattern: #CCC;
    --blue-pattern: #3381F3;
    --gray-letter: #666;
    --secondary-blue: #2B79EB;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    margin: 0;
    color: var(--gray-letter);
}

.container {
    /* largura maxima da tela */
    max-width: 1920px;
    width: 100%;
}


/* header */

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}


/* hide on desktop*/

.nav-container .btn-menumobile {
    display: none;
}


/* navbar */

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 1px solid var(--gray-pattern);
}

nav:after {
    /* limpar float */
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 25px;
}

.nav-container ul {
    /* posicionar a direita da tela */
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    /* Quebrar pro lado */
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: var(--gray-letter);
    transition: .5s;
}

.nav-container li a:hover {
    color: var(--blue-pattern);
}


/* find jobs page */
#search-form {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background-color: var(--blue-pattern);
    border-top: 5px solid #0000E6;
}

#search-form input,
#search-form select {
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    width: 20%;
}

#search-form input[type=submit] {
    background-color: #FFF;
    text-transform: uppercase;
    color: var(--blue-pattern);
    cursor: pointer;
}

/* seção ultimos empregos */

#lastjobs-container {
    text-align: center;
    padding: 100px 0;
    margin-top: 3em;
}

#lastjobs-container h1 {
    font-size: 36px;
    margin-bottom: 50px;
}


.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#lastjobs-container ul {
    padding: 0;
    border: 1px solid var(--gray-pattern);
    border-radius: 10px;
    border-top-left-radius: 0;
    margin-top: 0;
}

#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid var(--gray-pattern);
    height: 80px;
    position: relative;
}

/* filter */

#type-filter {
    text-align: left;
}

#type-filter ul {
    margin: 0;
    border-radius: 0;
    border: 0;
    background-color: #FFF;
    border-right: 1px solid #CCC;
}

#type-filter ul li {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height: 50px;
    border-bottom: none;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding-left: 1em;
}

#type-filter ul li:nth-child(1), #type-filter ul li:nth-child(2){
    border-right: none;
}

#type-filter label {
    text-transform: uppercase;
    color: #666;
    font-weight: bold;
    margin-left: .5em;
}

#lastjobs-container ul li:last-child {
    border: none;
}

.clickarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* company png */

.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 1%;
}

.company-box img {
    width: 100px;
    margin-top: 2.5px;
}

.company-info {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
    position: absolute;
}

.company-info h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}


/* company locality */

.locality {
    color: #6D6D6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}

.locality i,
.locality p {
    display: inline-block;
}

.locality i {
    margin-right: 5px;
}


/* company job type */

.job-type {
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.job-type span {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #FFF;
}

.clt {
    background-color: #735FEE;
}

.pj {
    background-color: #5BBC2E;
}

.homeOffice {
    background-color: #FF5A5F;
}


/* see more div */

.btnjobs-container {
    margin-top: 50px;
}

.btn-jobs {
    text-transform: uppercase;
    background-color: #FFF;
    color: var(--blue-pattern);
    border: 2px solid var(--blue-pattern);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: .5s;
}

.btn-jobs:hover {
    background-color: var(--blue-pattern);
    color: #FFF;
}




.light-btn {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: var(--gray-letter);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s;
}

.light-btn:hover {
    background-color: transparent;
    color: #FFF;
}


/* footer */

footer {
    background-color: #666;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid var(--blue-pattern);
}

footer h2,
footer p,
footer a,
footer span {
    color: #D1D1D1;
}

footer h2 {
    font-weight: 400;
}

footer a {
    text-decoration: none;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-box {
    width: 31%;
    padding: 1%;
    float: left;
}

footer .wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.company-footer {
    width: 80%;
}

.company-footer h2 {
    margin-top: 20px;
}

.company-footer h2,
.company-footer p {
    margin-bottom: 20px;
}

.footer-list li {
    margin-bottom: 15px;
}

.footer-list a {
    transition: .5s;
}

.footer-list a:hover {
    color: #FFF
}

.footer-list li:after {
    clear: both;
    content: "";
    display: block;
}

.articles-footer {
    width: 80%;
}


/* quando o elemento tem duas classes não se usa espaçamento para referencia-las */

.footer-list.footer-article-list span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer-list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    border-top: 1px solid #B2B2B2;
}

.footer-bottom p {
    font-weight: 600;
    margin-top: 40px;
}